
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section.hero {
    height: 85vh;
    width: 100%;
    background-color: #1A1A1A;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div.left {       
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 50%;
    gap: 30px;

    .top{
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: white;

        display: flex;
        flex-direction: column;

        .gradient-text {
            background: linear-gradient(45deg, #97CBFB, #FF6DA2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }
    }
}

    .middle{

    p {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #97CBFB;
    }
}

    .btn-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        width: 100%;

        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: white;

    .contact-btn{
        display: flex;
        flex-basis: 40%;
        justify-content: center;
        align-items: center;
        height: 45px;
        background-color: #97CBFB;
        border-radius: 10px;
    }

    .portfolio-btn{
        display: flex;
        flex-basis: 40%;
        justify-content: center;
        align-items: center;
        height: 45px;
        background-color: black;
        border-radius: 10px;
    }
}
    }

    div.right{
        display: flex;
        height: 100%;
        flex-basis: 30%;
        justify-content: center;
        align-items: center;
    }
        
    }
